/*
* color fondo :#0D2D4A
*color botones: #E43627;
*footer :#000;
*tipografia:#fff;
*font-family: 'Source Sans Pro', sans-serif;
*/

body{
  background-color:#1e1919;
  color:#fff;
}

html *{
  font-family: 'Source Sans Pro', sans-serif;
}

.imgMovie{
  width: 100%;
  height: height: 24vh;
  margin-top: 3vh;
}

p .description{
  font-size: 20px;
}

h1{
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
}

.subido{
  font-size: 13px;
}

i{
  color:#0D2D4A;
}

li .collection-item .avatar{
    background-color:#1e1919;
}

.facebook{
  float:right;
}

.facebook .fa-facebook-square{
  color:#fff;
  font-size: 30px;
}

.circle{
object-fit: cover;
width: 20em;
height: 20em;
}