html *{
	font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color:#1e1919;
  color:#fff;
}

.facebook-btn {
	background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}

.carrusel{
height: 
}

h5{
	display: inline-block;
}

.verMas{
	float: right;
}