html *{
	font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color:#1e1919;
  color:#fff;
}

label input .validate .valid textarea{
  color:#000;
}

form{
  color:#000;
}

.citas{
  font-size: 4em;
  font-weight: 900;
  color:#ffc107;
}

.seccionVer{
  margin-top: 3em;
}

.citas{
  font-size: 4em;
  font-weight: 900;
  color:#ffc107;
}

.seccionVer{
  margin-top: 3em;
}

.facebook-btn {
	background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}
.facebook .fa-facebook-square{
  color:#fff;
  font-size: 30px;
}

#logo{
	width: 4%;
	height: auto;
	display: inline-block;
  float:left;
}

@media screen and (max-width: 768px) {
  #logo{
    width: 8%;
    height: auto;
    display: inline-block;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
  }

  .citas{
    font-size: 2.2em;
    font-weight: 900;
    color:#ffc107;
  }
}

#nombre{
  margin-left: 6px;
  font-family: 'Righteous', cursive;
}
.carrusel{
height:
}

h5{
	display: inline-block;
}

.verMas{
	float: right;
}

.facebook{
  float:right;
}

.facebook .fa-facebook-square{
  color:#fff;
  font-size: 30px;
}

.esconder{
  display: none;
}

div .content h4{
  color: black;
  padding: 10px;
}

div .modal-content h4{
  color: black; 
  padding-left: 10px;
}