html *{
	font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color:#1e1919;
  color:#000;
}

.citas{
  font-size: 4em;
  font-weight: 900;
  color:#ffc107;
}

.seccionVer{
  margin-top: 3em;
}

.citas{
  font-size: 4em;
  font-weight: 900;
  color:#ffc107;
}

.seccionVer{
  margin-top: 3em;
}

.facebook-btn {
	background-color: #4267b2;
  color: #FFF;
  font-weight: 500;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 10px;
}
.facebook .fa-facebook-square{
  color:#fff;
  font-size: 30px;
}
<<<<<<< edaeed64d72d1bbac6db92d6d92a46a1599a9a8f

#logo{
	width: 6%;
	height: 2em;
	display: inline-block;
  float:left;
}

=======

#logo{
	width: 6%;
	height: auto;
	display: inline-block;
  float:left;
}

>>>>>>> jquery y segundo  modal
#nombre{
  margin-left: 6px;
  font-family: 'Righteous', cursive;
}
.carrusel{
height:
}

h5{
	display: inline-block;
}

.verMas{
	float: right;
}

.facebook{
  float:right;
}

.facebook .fa-facebook-square{
  color:#fff;
  font-size: 30px;
}